body {
    background: linear-gradient(180deg, #fdf3f3 0%, #d3b7bf 100%);
    background-attachment: fixed;
}

h1 {
    text-align: center;
    margin: 2.5rem 0;
    font-size: 45px;
    color: #272727;
}

.navbar-nav .nav-item.active {
    font-weight: 500;
}

.home-icon {
    font-size: 25px;
    margin: 20px;
    margin-left: 10px;
}

.accordion {
    margin: auto;
}

.accordion-item {
    border: 1px solid #c9b0b8;
}

.list-group-item {
    border: 1px solid #c9b0b8;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.list-group {
    margin-left: 35px;
    margin-right: 35px;
}

.goal-dates {
    font-size: 13px;
    text-align: center;
}

.status-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 14px;
    border-radius: 20px;
}

.complete {
    background-color: #218f42;
    color: white;
}

.pending {
    background-color: #848a8f;
    color: white;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.text-wrap {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.progress {
    height: 20px;
    background-color: #b4b7b9;
}

.form-label {
    margin-bottom: 2px;
    margin-top: 8px;
    color: #272727;
}

.form-text {
    color: #272727;
    font-size: 18px;
    text-align: center;
}

.form-control:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
    color: #212529 !important;
}

.form-control:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px #fff inset, 0 0 0 0.1rem #a37383b9;
    border-color: #dfb8c5;
    color: #212529;
}

.info-text {
    font-size: 14px;
    max-width: 50%;
    text-align: center;
}

.error {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 12px;
    color: #9c2e51;
}

.login-error {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    color: #9c2e51;
}

.logout-msg {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    color: #207532;
}

.card .list-group {
    width: 100%;
    margin: 0;
}

.card {
    border: 1px solid #c9b0b8;
    min-width: 300px;
}

@media screen and (min-width: 1400px) {
    .accordion {
        width: 50%;
    }
}

@media screen and (max-width: 1400px) {
    .accordion {
        width: 60%;
    }
}


@media screen and (max-width: 1100px) {
    .accordion {
        width: 80%;
    }

    .info-text {
        max-width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .accordion {
        width: 100%;
    }

    .list-group {
        margin-left: 5px;
        margin-right: 5px;
    }

    .info-text {
        max-width: 90%;
    }
}