<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/custom.css" rel="stylesheet" />
    <title>Goalplanner</title>
</head>

<body>
    <h1>Add new goal</h1>

    <div class="container" style="max-width: 400px;">
        <form th:action="@{/savegoal}" method="post" th:object="${goal}">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" />

            <label for="desc" class="form-label">Description</label>
            <input type="text" class="form-control" id="desc" th:field="*{description}" />

            <label for="sdate" class="form-label">Start Date</label>
            <input type="date" class="form-control" id="sdate" th:field="*{startDate}" />

            <label for="dl" class="form-label">Deadline</label>
            <input type="date" class="form-control" id="dl" th:field="*{deadline}" />

            <input type="hidden" th:field="*{status}" />

            <div class="text-center my-4">
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </form>
        <p class="form-text">On the next page, you can add milestones to your goal.</p>
    </div>
</body>
</html>
