<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/custom.css" rel="stylesheet" />
    <title>Add Milestones</title>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Goalplanner</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/goals">Active goals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pastgoals">Past goals</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/addgoal">Add goal</a>
                        </li>
                    </ul>
    
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sign in (coming later)</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <h1>Add milestones</h1>

    <div class="container" style="width: 400px">
        <form th:action="@{/savemilestone}" method="post" th:object="${milestone}">
            <input type="hidden" name="goalId" th:value="${goal.goalId}" />
    
            <label for="milestone" class="form-label">Milestone title</label>
            <input type="text" class="form-control" name="title" th:field="*{title}" placeholder="Title" />
            
            <!-- Error message display for the title field -->
            <p th:if="${#fields.hasErrors('title')}" th:classappend="error" th:errors="*{title}"></p>
            
            <div class="text-center my-4">
                <button type="submit" class="btn btn-primary">Add milestone</button>
            </div>
        </form>
    </div>

    <div class="container" style="width: 600px">
        <p th:if="${goal.milestones.size() > 0}" class="form-text mt-5">Added milestones:</p>
        <ul th:if="${goal.milestones}" class="list-group">
            <li th:each="milestone, iterStat : ${goal.milestones}" class="list-group-item">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-8" th:text="${iterStat.index+1} + '. ' + ${milestone.title}"></div>
                        <div class="col-4 text-end">
                            <a th:href="@{/deletemilestone/{id}/fromgoal/{goalId} (id=${milestone.id}, goalId=${goal.goalId})}" class="btn btn-sm btn-primary">Remove</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div th:if="${milestoneEmpty != null and !milestoneEmpty}" class="text-center mt-5">
            <p class="form-text mb-3">After adding all milestones you want, click here:</p>
            <a th:href="@{/goals}" class="btn btn-primary">Done</a>
        </div>

    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>