<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/custom.css" rel="stylesheet" />

    <title>Goalplanner</title>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Goalplanner</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/goals">Active goals</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/pastgoals">Past goals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/addgoal">Add goal</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                            <a class="nav-link" href="/userlist">Manage users</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <form th:action="@{/logout}" method="post">
                                <input type="submit" value="Sign Out" class="btn btn-sm btn-primary"/>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <h1>Past goals</h1>
    <div class="container-fluid">
        <p class="d-flex mx-auto info-text">
            This page contains goals that have already been completed or are past their deadline.
            You can review your progress, reflect on your achievements, and see which goals were completed on time.
        </p>
        <p th:if="${pastGoals != null && pastGoals.size() == 0}" class="form-text">
            Fill this page up by completing goals!
        </p>
    </div>

    <!-- Show goals that have been completed or have deadline in the past as accordion items -->
    <div class="container-fluid my-5">
        <div class="accordion rounded-3" id="goalAccordion">
    
            <div class="accordion-item rounded-3 shadow-sm my-4" th:each="goal, iterStat : ${pastGoals}">
                <div class="accordion-header">
                    <button class="accordion-button rounded-3" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse' + ${iterStat.index}" th:aria-controls="'collapse' + ${iterStat.index}" aria-expanded="false">
                        <h5 class="m-1" th:text="${goal.title}"></h5>
                    </button>
                </div>
    
                <div th:id="'collapse' + ${iterStat.index}" class="accordion-collapse collapse">
                    <div class="accordion-body">
    
                        <!-- Goal description -->
                        <i><p class="text-center m-4" th:text="${goal.description}"></p></i>
    
                        <!-- Goal dates -->
                        <div class="row goal-dates mx-auto mt-4 mb-2 text-center">
                            <div class="col-4">
                                <p th:text="'Started: ' + ${#temporals.format(goal.startDate, 'dd/MM/yyyy')}"></p>
                            </div>
                            <div class="col-4">
                                <p th:text="'Deadline: ' + ${#temporals.format(goal.deadline, 'dd/MM/yyyy')}"></p>
                            </div>
                            <div class="col-4" th:if="${goal.completionDate != null}">
                                <p th:text="'Completed at: ' + ${#temporals.format(goal.completionDate, 'dd/MM/yyyy')}"></p>
                            </div>
                        </div>
    
                        <!-- Milestones -->
                        <ul class="list-group mb-4">
                            <li class="list-group-item" th:each="milestone : ${goal.milestones}">
                                <div class="container">
                                    <div class="row d-flex align-items-center">
    
                                        <!-- Status indicator -->
                                        <div class="col-1">
                                            <span class="status-badge" th:classappend="${milestone.status.name() == 'COMPLETE'} ? 'complete' : 'pending'" alt="status-indicator">
                                                <i class="bi" th:classappend="${milestone.status.name() == 'COMPLETE'} ? 'bi-check2' : 'bi-arrow-repeat'"></i>
                                            </span>
                                        </div>
    
                                        <div class="col-8">
                                            <div th:text="${milestone.title}"></div>
                                        </div>
    
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- Progress bar -->
                        <div class="container my-4" th:if="${goal.progress > 0}">
                            <p class="text-center">Progress</p>
                            <div class="progress mx-3">
                                <div class="progress-bar bg-success" role="progressbar" th:style="'width: ' + ${goal.progress} + '%'" th:text="${goal.progress + '%'}"></div>
                            </div>
                        </div>
    
                        <!-- Delete goal button -->
                        <div class="button-row my-4">
                            <a th:href="@{/deletepastgoal/{id}(id=${goal.goalId})}" class="btn btn-sm btn-danger" onclick="return deleteGoalConfirmation()">Delete goal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>