<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/custom.css" rel="stylesheet" />

    <title>Goalplanner</title>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Goalplanner</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/goals">Active goals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pastgoals">Past goals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/addgoal">Add goal</a>
                        </li>
                        <li class="nav-item active" sec:authorize="hasAuthority('ADMIN')">
                            <a class="nav-link" href="/userlist">Manage users</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <form th:action="@{/logout}" method="post">
                                <input type="submit" value="Sign Out" class="btn btn-sm btn-primary" />
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <h1>Manage users</h1>

    <div class="container my-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5 justify-content-center">
            <div class="col" th:each="user : ${users}">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h5 th:text="${user.username}" class="text-center my-1"></h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                <span>ID:</span><span th:text="${user.userId}"></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Role:</span><span th:text="${user.role}"></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Created at:</span><span th:text="${#temporals.format(user.createdAt, 'dd/MM/yyyy')}"></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Goals created:</span><span th:text="${user.goals.size()}"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <a th:href="@{/users/delete/{id}(id=${user.userId})}" class="btn btn-primary btn-sm text-nowrap" onclick="return deleteUserConfirmation()">Delete user</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>